doctype html
html(lang="en")
  head
    title My Sweet Page
    link(rel="stylesheet", type="text/css", href="index.css")

  body
    h1 Hello World
    script(src="lib/requirejs/require.js", data-main="index")
    
